/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: #004b54;
  font-weight: bold;
}

.login-top button {
  background: linear-gradient(to right, #f60, #f90);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

/* Login Box */
.login-box {
  width: 350px;
  margin: 80px auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 6px;
  text-align: center;
}

.login-box h2 {
  color: #004b54;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.forgot-password {
  text-align: right;
  margin-bottom: 15px;
}

.forgot-password a {
  text-decoration: none;
  color: #f60;
  font-size: 14px;
}

.btn-login {
  width: 100%;
  background: linear-gradient(to right, #f60, #f90);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
